@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  overflow: visible;
}

svg {
  overflow: visible;
}

.plot {

}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}