@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  overflow: visible;
}

svg {
  overflow: visible;
  test-align: right;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.bubbles {
  stroke-width: 1px;
  stroke: #fff;
}

.bubbles:hover {
  stroke: #000;
}

.nav-bar-box {
  border-bottom: #000 1px;
  width: 100%;
  height: 20px;
  fill: #ddd;
}