@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  overflow: visible;
}

svg {
  overflow: visible;
  test-align: right;
}

.plot {

}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.bubbles {
  stroke-width: 1px;
  stroke: white;
}

.bubbles:hover {
  stroke: black;
}